/* Header styles*/

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

a {
  font-family: Raleway;
  font-style: normal;
  color: #2e2f42;
}

a:hover {
  font-family: Raleway;
  color: #404bbf;
}

a:focus {
  color: #404bbf;
}

.navigation-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
}

.navigation {
  font-family: Raleway;
}

.title {
  color: #2e2f42;
}

.navigation > ul:hover {
  font-family: "Roboto", sans-serif;
}

address {
  font-style: normal;
}

.adress-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.adress-item :hover {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.adress-item :focus {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

/* Body styles */

body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Main title */

.title-main {
  color: #ffffff;
  background-color: #2e2f42;
  font-family: Roboto;
  letter-spacing: 1.12px;
}

button {
  color: #ffffff;
  background-color: #4d5ae5;
  /* font-size: 15px;
  font-weight: 500; */
}

button:hover,
button:focus {
  background-color: #404bbf;
}

/* Section 1: Features */

.features-list {
  color: #2e2f42;
}

.fetures-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.features-text {
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* Footer */

footer {
  background-color: #2e2f42;
}
