/* Header styles*/

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

a {
  font-family: Raleway;
  color: #2e2f42;
}

a:hover {
  font-family: Raleway;
  color: #404bbf;
}

a:focus {
  color: #404bbf;
}

.navigation-list {
  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
}

.navigation {
  font-family: Raleway;
}

.title {
  color: #2e2f42;
}

.navigation > ul:hover {
  font-family: "Roboto", sans-serif;
}

.contacts {
  font-style: normal;
}

.address-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-item :hover {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.address-item :focus {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

/* Body styles */

body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Section1: Main title */

.baner {
  color: #ffffff;
  background-color: #2e2f42;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.baner-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.baner-button:hover,
.baner-button:focus {
  background-color: #404bbf;
}

/* Section 2: Features */

.features {
  background-color: #fff;
}

.features-list {
  color: #2e2f42;
}

.fetures-title {
  font-family: Roboto;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.2em;
}

.features-text {
  font-family: Roboto;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section 3: Our team */

.team-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-list {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.team-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.text-item-team {
  color: #434455;
}

/* Footer */

footer {
  background-color: #2e2f42;
}
